.about {
  padding: 9rem 2rem;
  height: 90vh;
  color: #fff;
  background-color: var(--primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include respond(phone) {
    height: 60vh;
  }

  &__heading {
    font-family: var(--font-text);
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
  }

  &__text {
    word-break: break;
    font-size: 1.5rem;
    width: 50vw;

    @include respond(phone) {
      width: 90vw;
    }
  }
}
