:root {
  --primary: #7510f7;
  --font-primary: 'lato', sans-serif;
  --font-display: 'montserrat', sans-serif;
  --font-logo: 'Georgia', 'lato';
  --font-text: 'Comic Neue', cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 80%;
  }

  @include respond(phone) {
    font-size: 60%;
  }
}

body {
  font-family: var(--font-primary);
  font-weight: normal;
}
