.navbar {
  position: fixed;
  z-index: 10;
  top: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  &__logo {
    display: flex;
    justify-content: center;
  }

  &__list {
    list-style: none;

    display: flex;
    align-items: center;
  }

  &__item {
    padding: 1.5rem;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    text-decoration: underline;
  }

  &__link:focus {
    outline: none;
  }

  &__resume {
    display: flex;
  }

  &__downloadIcon {
    cursor: pointer;
    margin-left: 0.2em;
    width: 2rem;
    height: 2rem;
    fill: #fff;
  }
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.4);
}
