.skills {
  position: relative;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 7rem;

  &__wrapper {
    background-color: #fff;
    z-index: 1;
    padding: 5rem 2rem 2rem;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: -7rem;
    width: 70vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    @include respond(tab-port) {
      width: 80vw;
      padding: 5rem 5rem 3rem;
    }

    @include respond(phone) {
      width: 90vw;
      padding: 5rem 4rem;
    }
  }

  &__heading {
    color: var(--primary);
    font-size: 3.5rem;
    padding-bottom: 3rem;
  }

  &__collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
  }

  &__card {
    padding: 3rem 0;
    border-radius: 30px;
    max-width: 20rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 18rem;
    margin: 0 auto;

    @include respond(phone) {
      width: auto;
      padding: 5rem 0;
    }
  }

  &__icon {
    margin-bottom: 3rem;
    width: 8rem;
    height: 8rem;
  }

  &__label {
    font-size: 1.5rem;
  }

  &__htmlIcon {
    fill: orangered;
  }

  &__cssIcon {
    fill: dodgerblue;
  }

  &__gitIcon {
    fill: orangered;
  }
}
